* {
    box-sizing: border-box;
}

body {
   
    margin: 0;
    padding: 0;
    background: white;
}

.container {
    font-family: 'Gill Sans', sans-serif;
    font-weight: 300;
    display: grid;
    height: 100vh;
    width: 100vw;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px, 1fr, 1fr, 1fr, 1fr;
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    position: sticky;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

.navbar {
    display: flex;
    background: red;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-rows: 1, 2;
    column-span: all;


}


.navbar-logo {
    margin: 0.5rem; 
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 20px;
    display: block;

}

.navbar-links a:hover {
    color: black;

}

.navbar-links a:before {
    content: '';
    display: block;
    height: 5px;
    margin-bottom: 5px;
    background-color: black;

    position: relative;
    top: 0;
    width: 0%;
}

.navbar-links a:hover::before {
    width: 100%;
}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 5px;
    width:100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 750px) {
    .toggle-button {
        display: flex;
    }
    
    .navbar-links {
      display: none;
      width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.content-large {
    margin-top: 100px;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.content-large .embed-teams {
    height: 100%;
    width: 100%;
}